<div class="col-md-6">
    <div class="thumbnail">
        <img src="{{image}}" alt="">
        <div class="caption">
            <h4>{{category}} - ${{price}}</h4>
            <p>{{type}}</p>
            <p><a class="btn btn-primary js-productItemView-addBtn" href="#" data-product-id="{{id}}">Add To Cart</a></p>
        </div>
    </div>
</div>
